{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "svelte3"],
  "overrides": [{
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2 // Means error
  },
  "settings": {
    "svelte3/typescript": true
  }
}
